
<h4>Betsheet</h4>
<p>About us</p>
 <p>A betting site which allows users to bet against each other<br>
 it could either be a friend or unknown guest.  
 </p>


 Any way to improve our services??
 Please send a feedback:


  <form>
    <label for="name1">Enter Name:</label>
    <input id="name1" name="name1" type="text" placeholder="Enter name">


    <label for="amount">Enter email:</label>
  <input id="amount1" name="amount1" type="number" placeholder="email address" >

  <label for ="choice">Feedback:</label>
  <input id="choice" name="choice" type ="number" placeholder="put feedback here">


    <button class="feedback-button" type="submit">Send Feeback</button>
  </form>

