<h1 class="league">All Available games</h1>
<hr>


<% if @all_games.any?() %>
    <h3 class="league">Here are your Games:</h3>
<b>
    <ul class="league" id="hallo">
      <% @all_games.each() do |game| %>
        <li><a href="/available/<%= game.id()%>"><%= game.name() %></a> </li>
      <% end %>
    </ul>
<b>
  <% else %>

      <p>No games availbale</p>

  <% end %>



