<h2>Deposit to your Account</h2>
<form action="/deposit" method="post">
<label for="amount1">Amount:</label>
  <input id="amount1" name="amount1" type="number" placeholder="Enter amount">
  <button class="enjoy-css" type="submit">Deposit</button>
  </form>

  Deposited: <%= @deposit %><br>
  Balance: <%= @remain %>