<ul class="nav navbar-nav navbar-right">
     <li><a href="/deposit">Deposit</a></li>
     <li><a href="/sessions/logout">Log Out</a></li>
  </ul>

<div class="container">
  <div class="well">"Welcome, <%=@user.name%>!"</div>
</div>
<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="https://wallpaperscraft.com/image/ty_lawson_basketball_denver_nuggets_103342_1920x1080.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCPOjcHYi6D52gJ1Fe3--UeS4fOEgDTMrxgSrmBN3YOm8MTbF5" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://images7.alphacoders.com/430/thumb-1920-430599.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<hr>


<h2 class="league">Available Football Leagues</h2>
<hr>







<div class="zoomin">
<a href="/available"><img src="image/ligue512.png"  title="French" /></a>
<a href="/available"><img src="image/Premier-League-Wallpapers-7.jpg"  title="England" /></a>
<a href="/available"><img src="image/bundesliga.jpg"  title="Germany" /></a>
<a href="/available"><img src="image/serie.png"  title="Italy" /></a>
<a href="/available"><img src="image/laliga.png"  title="Spain" /></a>
<a href="/available"><img src="image/download.jpg"  title="kenya" /></a><br>
<a href="/available"><img src="image/mls.jpg"  title="USA" /></a>
<a href="/available"><img src="image/russian.jpg"  title="Russian" /></a>
<a href="/available"><img src="image/jupiler.jpg"  title="belgium" /></a>
<a href="/available"><img src="image/chinese.png"  title="Chinese" /></a>
<a href="/available"><img src="image/indian.png"  title="India" /></a>

</div>



<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3  > Terms</h3>
                    <p>
                      This game is not allowed to people under 18 years.

                    </p>
                    <p>Please advice younger ones</p>

                    
                </div>
               <vr>
                
               
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button  action="/about" class="btn  bg-gray" type="button"> send Feedback </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © youbet2017. All right reserved. </p>
          
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>

 

