<ul class="nav navbar-nav navbar-right">
     <li><a href="/deposit" class="league">Deposit</a></li>
    <li><a href="/sessions/login" class="league">Logout</a></li>
     <li><a href="/registrations/signup" class="league">Sign up</a></li>
</ul>
<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="https://wallpaperscraft.com/image/ty_lawson_basketball_denver_nuggets_103342_1920x1080.jpg" /></a>
      <div class="carousel-caption">
        <h3>Basketball</h3>
        <p>No limits</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://images.alphacoders.com/715/thumb-1920-715142.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://images7.alphacoders.com/430/thumb-1920-430599.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<hr>


<h2 class="league">Available Football Leagues</h2>
<hr>







<div class="zoomin" id="availability">
<a href="/available"><img src="image/ligue512.png"  title="French" /></a>
<a href="/available"><img src="image/Premier-League-Wallpapers-7.jpg"  title="England" /></a>
<a href="/available"><img src="image/bundesliga.jpg"  title="Germany" /></a>
<a href="/available"><img src="image/serie.png"  title="Italy" /></a>
<a href="/available"><img src="image/laliga.png"  title="Spain" /></a>
<a href="/available"><img src="image/download.jpg"  title="kenya" /></a><br>
<a href="/available"><img src="image/mls.jpg"  title="USA" /></a>
<a href="/available"><img src="image/russian.jpg"  title="Russian" /></a>
<a href="/available"><img src="image/jupiler.jpg"  title="belgium" /></a>
<a href="/available"><img src="image/chinese.png"  title="Chinese" /></a>
<a href="/available"><img src="image/indian.png"  title="India" /></a>

</div>
<hr>



<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> BET ME </h3>
                    <b>
                    <ul>
                        <li> <a href="/about"> About </a> </li>
                        <li> <a href="#"> Feedback </a> </li>
                        <li> <a href="#"> FAQ </a> </li>
                        
                    </ul>
                    </b>
                    <br>
                </div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3  > Terms</h3>
                    <b>
                    <p id ="bangle">
                      This game is not allowed to people under 18 years.

                    </p>
                    </b>
                    
                </div>
               <vr>

               <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Partners</h3>
                    <b>
                      <ul id ="bangle">
                      <li>Safaricom</li>
                      <li>Sportpesa</li>
                      <li> Ghetto Radio</li>
                      </ul>

                    </p>
                    </b>
                    
                </div>
                
               
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Contact us</h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button  class="btn  bg-gray" type="button"><a href="/about" >send Feedback </a></button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © youbet2017. All right reserved. </p>
          
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>

 

