<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="https://wallpaperscraft.com/image/ty_lawson_basketball_denver_nuggets_103342_1920x1080.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://www1.pictures.zimbio.com/gi/Club+Atletico+de+Madrid+v+Sevilla+FC+La+Liga+OxUtVu_-adAx.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://images7.alphacoders.com/430/thumb-1920-430599.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<hr>


<h2 class="league">Available Football Leagues</h2>
<hr>







<div class="zoomin">
<a href="/available"><img src="image/ligue512.png"  title="French" /></a>
<a href="/available"><img src="image/Premier-League-Wallpapers-7.jpg"  title="England" /></a>
<a href="/available"><img src="image/bundesliga.jpg"  title="Germany" /></a>
<a href="/available"><img src="image/serie.png"  title="Italy" /></a>
<a href="/available"><img src="image/laliga.png"  title="Spain" /></a>
<a href="/available"><img src="image/download.jpg"  title="kenya" /></a><br>
<a href="/available"><img src="image/mls.jpg"  title="USA" /></a>
<a href="/available"><img src="image/russian.jpg"  title="Russian" /></a>
<a href="/available"><img src="image/jupiler.jpg"  title="belgium" /></a>
<a href="/available"><img src="image/chinese.png"  title="Chinese" /></a>
<a href="/available"><img src="image/indian.png"  title="India" /></a>

</div>
 

